name: Build and Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.108
    - name: dotnet build
      run: dotnet build --configuration Release
      
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: dotnet test
      - run: dotnet test
